.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 110px 40px 110px;
    a {
        font-size: $h4;
    }
}

.arrow {
    position: relative;
    .arrow-inner .arrow-left {
        position: absolute;
        height: 10px;
        width: 20px;
        top: -15px;
        left: -30px;
    }
    .arrow-inner .arrow-right {
        position: absolute;
        height: 10px;
        width: 20px;
        top: -15px;
        left: 45px;
    }
}