.site-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 110px;
    a {
        font-size: $h4;
        color: $black;
    }
    @media (max-width: 780px) {
        padding: 20px 55px;
    }
}

.arrow {
    position: relative;
    .arrow-inner .arrow-left {
        position: absolute;
        height: 10px;
        width: 20px;
        top: -15px;
        left: -30px;
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        &.move-left {
            left: -40px;
            transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        }
    }
    .arrow-inner .arrow-right {
        position: absolute;
        height: 10px;
        width: 20px;
        top: -15px;
        left: 40px;
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        &.move-right {
            left: 50px;
            transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        }
    }
}