.project-gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media (max-width: 780px) {
        flex-direction: column;
    }
    -moz-animation: fadein 0.8s; /* Firefox */
    -webkit-animation: fadein 0.8s; /* Safari and Chrome */
    -o-animation: fadein 0.8s; /* Opera */

    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
}

.section-column {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    &:nth-child(7),
    &:nth-child(8) {
        margin-bottom: 0;
    }
    @media (max-width: 780px) {
        width: 100%;
        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(7) {
            margin-bottom: 10px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.left {
    margin-right: 5px;
    @media (max-width: 780px) {
        margin-right: 0;
    }
}

.right {
    margin-left: 5px;
    @media (max-width: 780px) {
        margin-left: 0;
    }
}

.index-item-image-wrapper {
    position: relative;
    img {
        width: 100%;
        display: block;
        transition: all 0.2s cubic-bezier(.25,.8,.25,1);
        @media (min-width: 1040px) {
            &:hover {
                transition: all 0.2s cubic-bezier(.25,.8,.25,1);
                opacity: 0.5;
            }
        }    
    }
}

figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .index-item-title,
    .index-item-description {
        margin: 0;
        position: absolute;
        font-size: $h4;
    }
    .index-item-title {
        bottom: 40px;
        left: 80px;
        @media (max-width: 780px) {
            left: 40px;
        }
    }
    .index-item-description {
        bottom: 40px;
        right: 80px;
        @media (max-width: 780px) {
            right: 40px;
        }
    }
}

.white-text {
    color: $white;
}