.project-gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-column {
    width: calc(50% - 10px);
}

.left {
    margin-right: 5px;
}
.right {
    margin-left: 5px;
}

.index-item-image-wrapper img {
    width: 100%;
}


figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}