.project-gallery-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.section-column {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    &:nth-child(3),
    &:nth-child(4) {
        margin-bottom: 0;
    }
}

.left {
    margin-right: 5px;
}
.right {
    margin-left: 5px;
}

.index-item-image-wrapper {
    position: relative;
    img {
        width: 100%;
        display: block;
    }
}


figcaption {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .index-item-title,
    .index-item-description {
        margin: 0;
        position: absolute;
        font-size: $h4;
    }
    .index-item-title {
        bottom: 40px;
        left: 80px;
    }
    .index-item-description {
        bottom: 40px;
        right: 80px;
    }
}