.site-page {
    -moz-animation: fadein 0.8s; /* Firefox */
    -webkit-animation: fadein 0.8s; /* Safari and Chrome */
    -o-animation: fadein 0.8s; /* Opera */

    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
}

.cover-image-wrapper,
.single-image-wrapper,
.video-wrapper {
    margin-bottom: 10px;
}


.cover-image-inner,
.single-image-wrapper,
.double-image-wrapper {
    img {
        width: 100%;
        display: block;
    }
}

.double-image-wrapper {
    width: 100%;
    .double-image-inner {
        display: flex;
        flex-direction: row;
        img {
            width: calc(50% - 5px); 
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.double-square-image-inner {
    display: flex;
    flex-direction: row;
    padding: 80px;
}

.square-image {
    width: calc(50% -80px);
    margin-right: 80px;
    &:last-child {
        margin-right: 0;
    }
    img {
        width: 100%;
    }
}
