.site-page {
    -moz-animation: fadein 0.8s; /* Firefox */
    -webkit-animation: fadein 0.8s; /* Safari and Chrome */
    -o-animation: fadein 0.8s; /* Opera */

    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    } 
}

.cover-image-wrapper,
.single-image-wrapper,
.video-wrapper,
.double-image-wrapper,
.video-wrapper-website {
    margin-bottom: 10px;
}

.cover-image-inner,
.single-image-wrapper,
.double-image-wrapper {
    img {
        width: 100%;
        display: block;
    }
}

.double-image-wrapper {
    width: 100%;
    .double-image-inner {
        display: flex;
        flex-direction: row;
        .double-image {
            width: calc(50% - 5px);
            margin-right: 10px;
            &:last-child {
                margin-right: 0px;
            }
            @media (max-width: 780px) {
                width: 100%;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            } 
        }
        @media (max-width: 780px) {
            flex-direction: column;
        } 
    }
}

.double-square-image-inner,
.video-wrapper-website {
    padding: 80px;  
    @media (max-width: 780px) {
        padding: 40px;
    }  
}

.double-square-image-inner {
    display: flex;
    flex-direction: row;
    @media (max-width: 780px) {
        flex-direction: column;
        padding: 30px 40px 40px 40px;
    }
}

.square-image {
    width: calc(50% -80px);
    margin-right: 80px;
    &:last-child {
        margin-right: 0;
    }
    img {
        width: 100%;
        display: block;
    }
    @media (max-width: 780px) {
        margin-right: 0;
        &:first-child {
             padding-bottom: 40px;
        }
    }
}
