.container {
  max-width: 900px;
  margin: 0 auto; }

body {
  background-color: #fff;
  font-family: "sofiapro", sans-serif; }

a {
  text-decoration: none; }
  a:visited {
    color: #000; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  position: relative; }

.header-wrapper {
  position: absolute;
  background-color: white;
  width: 240px;
  height: 60px;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0 1px 2px 0px rgba(0, 0, 0, 0.24);
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0 1px 2px 0px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  z-index: 99999;
  top: 170px;
  left: -90px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 780px) {
    .header-wrapper {
      top: 70px;
      left: -30px;
      width: 120px; } }

.header-name {
  font-size: 22px;
  font-weight: normal;
  padding-left: 20px;
  color: #000; }
  @media (max-width: 780px) {
    .header-name {
      display: none; } }

.hamburger {
  display: block;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.hamburger-box {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.hamburger-inner {
  position: absolute;
  z-index: 9999999;
  background-color: #000;
  height: 2px;
  width: 20px;
  right: 25px;
  top: 27px;
  margin-right: -4px; }
  .hamburger-inner::before {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    top: -7px;
    right: 0;
    background-color: #000;
    position: absolute; }
  .hamburger-inner::after {
    content: "";
    display: block;
    height: 2px;
    width: 20px;
    bottom: -7px;
    right: 0;
    background-color: #000;
    position: absolute; }

.header-logo {
  display: none; }
  @media (max-width: 780px) {
    .header-logo {
      display: block; } }

.logo {
  display: block;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

.logo-box {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }
  .logo-box img {
    height: 40px; }

.side-nav-wrapper {
  position: relative; }

.side-nav-inner {
  position: absolute;
  position: fixed;
  z-index: 999;
  background-color: #000;
  width: 480px;
  height: 100vh;
  overflow: scroll;
  top: 0;
  left: 0px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }

.nav-title-projects,
.nav-title-contact {
  font-size: 22px;
  position: relative;
  margin-top: 20px; }
  .nav-title-projects::before,
  .nav-title-contact::before {
    content: "";
    height: 2px;
    width: 50px;
    background-color: #fff;
    top: -20px;
    left: 0;
    position: absolute; }

.side-nav-items {
  list-style: none;
  padding: 80px;
  margin: 0; }
  .side-nav-items .side-nav-itemLink {
    color: #fff; }

.side-nav-item:hover {
  margin-left: 10px;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: 0.25s;
  transition: 0.25s; }

.nav-title-contact {
  margin-top: 60px;
  margin-bottom: 0; }

.nav-title {
  font-size: 16px;
  margin: 20px 0px 0px 0px;
  line-height: 24px; }

.nav-description {
  font-size: 14px;
  margin: 0; }

.nav-title,
.nav-description,
.nav-title-projects,
.nav-title-contact {
  font-weight: normal; }

.project-gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (max-width: 780px) {
    .project-gallery-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.section-column {
  width: calc(50% - 5px);
  margin-bottom: 10px; }
  .section-column:nth-child(3), .section-column:nth-child(4) {
    margin-bottom: 0; }
  @media (max-width: 780px) {
    .section-column {
      width: 100%; }
      .section-column:nth-child(3), .section-column:nth-child(4) {
        margin-bottom: 10px; }
      .section-column:last-child {
        margin-bottom: 0; } }

.left {
  margin-right: 5px; }
  @media (max-width: 780px) {
    .left {
      margin-right: 0; } }

.right {
  margin-left: 5px; }
  @media (max-width: 780px) {
    .right {
      margin-left: 0; } }

.index-item-image-wrapper {
  position: relative; }
  .index-item-image-wrapper img {
    width: 100%;
    display: block; }

figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  figcaption .index-item-title,
  figcaption .index-item-description {
    margin: 0;
    position: absolute;
    font-size: 14px; }
  figcaption .index-item-title {
    bottom: 40px;
    left: 80px; }
  figcaption .index-item-description {
    bottom: 40px;
    right: 80px; }

.white-text {
  color: #fff; }

.cover-image-wrapper,
.single-image-wrapper,
.video-wrapper {
  margin-bottom: 10px; }

.cover-image-inner img,
.single-image-wrapper img,
.double-image-wrapper img {
  width: 100%;
  display: block; }

.double-image-wrapper {
  width: 100%; }
  .double-image-wrapper .double-image-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .double-image-wrapper .double-image-inner img {
      width: calc(50% - 5px);
      margin-right: 10px; }
      .double-image-wrapper .double-image-inner img:last-child {
        margin-right: 0px; }

.double-square-image-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 80px; }

.square-image {
  width: calc(50% -80px);
  margin-right: 80px; }
  .square-image:last-child {
    margin-right: 0; }
  .square-image img {
    width: 100%; }

.text-content-inner {
  padding: 80px 160px 40px 160px; }
  .text-content-inner .project-description {
    margin: 0;
    font-size: 16px;
    line-height: 24px; }
  .text-content-inner .project-subDescription {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 14px; }

.site-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 110px 40px 110px; }
  .site-footer a {
    font-size: 14px; }

.arrow {
  position: relative; }
  .arrow .arrow-inner .arrow-left {
    position: absolute;
    height: 10px;
    width: 20px;
    top: -15px;
    left: -30px; }
  .arrow .arrow-inner .arrow-right {
    position: absolute;
    height: 10px;
    width: 20px;
    top: -15px;
    left: 45px; }

.contact-page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 780px) {
    .contact-page-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.profile-image {
  height: 100vh; }

.profile-image,
.contact-section-wrapper {
  width: 50%; }
  @media (max-width: 780px) {
    .profile-image,
    .contact-section-wrapper {
      width: 100%; } }

.profile-image {
  background-image: url("./../assets/portfolio/rickstorm_001.jpg");
  background-size: cover;
  background-position: center; }

.contact-section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 80px; }
  @media (max-width: 780px) {
    .contact-section-wrapper {
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding: 40px; } }

.social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 25px; }

.social-icon {
  width: 25px;
  margin-right: 10px; }
  .social-icon:last-child {
    margin-right: 0; }

.line-element {
  width: 40px;
  border-bottom: 2px solid black;
  margin: 40px 0px 0px 0px; }

.contact-information-title {
  font-size: 22px;
  margin: 20px 0px 0px 0px;
  font-weight: normal; }

.email,
.phone {
  margin: 20px 0px 0px 0px;
  font-size: 14px; }
  .email a,
  .phone a {
    font-size: 16px; }

@font-face {
  font-family: 'sofiapro';
  src: url("../fonts/sofiapro.eot");
  src: url("../fonts/sofiapro.eot?#iefix") format("embedded-opentype"), url("../fonts/sofiapro.woff") format("woff"), url("../fonts/sofiapro.woff2") format("woff2"), url("../fonts/sofiapro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
